.jumbotron {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(../img/utn-jumbotron.jpg);
}

.title-section {
  background-color: #e3e4e5;
  /* background-color: #b8c0c4; */
  /* background-color: #e9e9e9; */
}

a {
  text-decoration-line: none;
}

.breadcrumb-item a:visited,
#preguntas_frecuentes_section a:visited {
  color: darkblue;
  text-decoration-line: none;
}

footer a {
  text-decoration-line: none;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: gray;
}

footer a:hover,
.breadcrumb-item a:hover,
#preguntas_frecuentes_section a:hover {
  color: #0d6efd;
}

footer a:active {
  color: darkgray;
}
